<ul class="legend">
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-aa3c1e.png"> {% trans 'Culture & Community Facilities' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-7fccd9.png"> {% trans 'Schools & Education' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-55a504.png"> {% trans 'Environment' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-f50a8e.png"> {% trans 'Public Housing' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-fa5b13.png"> {% trans 'Parks & Recreation' %}</li>
  <!-- <li class="clearfix"><img src="/static/css/images/markers/new/dot-ff78be.png"> {% trans 'Public Health' %}</li> -->
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-fc9229.png"> {% trans 'Public Safety' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-8ea4b8.png"> {% trans 'Sanitation' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-c4ed52.png"> {% trans 'Seniors' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-a0b4c6.png"> {% trans 'Streets & Sidewalks' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-b75ab8.png"> {% trans 'Transit & Transportation' %}</li>
  <li class="clearfix"><img src="/static/css/images/markers/new/dot-ffd614.png"> {% trans 'Youth' %}</li>
  <!-- <li class="clearfix"><img src="/static/css/images/markers/new/dot-white.png"> {% trans 'Previously funded' %}</li> -->
</ul>
